[2022-09-09 14:34] devarshishimpi opened #28 "Fix Github And Google OAuth In Public Version"
Github And Google OAuth ENV are asked while deploying the application, but haven't added it on the website

[2022-09-09 15:24] devarshishimpi opened #29 "Add Deployments Steps To Readme"

[2022-09-10 08:30] #29 closed

[2022-09-10 11:10] devarshishimpi opened #31 "Complete Noteslify Landing Page with all necessary components"

[2022-09-10 11:12] khushi818 commented on #31
Please assign it to me

[2022-09-10 12:07] devarshishimpi opened #32 "Replace Boxicons with Fontawesome CDN Icons"

[2022-09-10 15:42] devarshishimpi opened #33 "Add Link To Github Repository On Landing Page in Navbar"

[2022-09-14 09:26] devarshishimpi commented on #33
Fixed in https://github.com/devarshishimpi/Noteslify/pull/34

[2022-09-14 09:26] #33 closed

[2022-09-16 16:32] Ravina-Deogadkar commented on #32
Can I take this issue?

[2022-09-16 17:05] devarshishimpi commented on #32
@Ravina-Deogadkar Sure, I have assigned you as well.
Please do make sure you use this Kit URL
```<script src="https://kit.fontawesome.com/c2536b674d.js" crossorigin="anonymous"></script>```
Using the Latest v6.x

[2022-09-16 17:31] devarshishimpi opened #35 "Add Recycle Bin Functionality"
Add Another Button Called "Move to Bin" and Add a Navbar Element called "Bin" with it's functionality in Frontend and Backend

[2022-09-16 18:47] devarshishimpi opened #36 "Add Markdown Support for Title And Description Of Notes"
Add Markdown and Word Document Style Editing Of Notes

[2022-09-16 18:50] devarshishimpi2 opened #37 "Add Theming Option to the Notes and Homepage/everywhere else"
Add the options of switching themes from light to dark theme with a toggle

[2022-09-16 18:51] devarshishimpi2 opened #38 "Account Settings Control"
Add a Navbar Element called "My Account" which lets user control their account settings

[2022-09-16 18:56] devarshishimpi commented on #28
The website fails to connect with Oauth when the front end is hosted on Vercel and the backend on Heroku/alternatives. Only works locally.

[2022-09-17 15:21] CleverOscar commented on #31
Not sure if this issue is still being worked on or not, but if there's anything I can help with I'd like to jump on this task.

[2022-09-17 15:25] CleverOscar commented on #38
If no one has started this task, I'd like to take it on.

[2022-09-17 15:26] CleverOscar commented on #38
If this task is still available I'd like to jump on it

[2022-09-17 16:00] devarshishimpi commented on #38
@CleverOscar Sure, I have assigned the issue to you.

[2022-09-17 16:02] devarshishimpi commented on #31
@khushi818 is working on the issue and should be fixed by the 25th of this month. Also, yes this is being worked on by making the landing page look better.

[2022-09-17 16:05] devarshishimpi commented on #32
@Ravina-Deogadkar Is the issue still being worked on??? By when shall the PR be ready?

[2022-09-17 16:22] khushi818 commented on #37
I can do that. Let me do this as well.

[2022-09-17 16:25] devarshishimpi commented on #37
Okay, have assigned you. But were you able to self-assign yourself as you have write access?

[2022-09-17 17:30] khushi818 commented on #37
Oh do I ? I didn't check

[2022-09-17 17:31] khushi818 commented on #37
Yup I have it

[2022-09-17 20:48] CleverOscar commented on #38
It's seems like I need some type of development api in order to access the user account when in development. Unless there is a way around this, I can't seem to start on this task.

I can't connect to the database due to a client api error

[2022-09-18 04:43] devarshishimpi opened #40 "ENV Configuration not mentioned in Readme."

[2022-09-18 04:43] devarshishimpi commented on #38
https://github.com/dvstechlabs/Noteslify/issues/40

[2022-09-18 04:53] #40 closed

[2022-09-18 04:56] devarshishimpi commented on #38
You can get started now. I have added the `.env` configuration required for the backend in the Readme. Sorry for the inconvenience that it wasn't present before. After which this will start running locally on your system where you can create dummy users.

[2022-09-18 07:14] devarshishimpi commented on #31
https://github.com/dvstechlabs/Noteslify/pull/39#

[2022-09-18 07:18] Ravina-Deogadkar commented on #32
Yes I am working on it. I can see there is very limited icons available for free
https://fontawesome.com/search?o=r&m=free&f=brands%2Csharp%2Cclassic

The lock symbol is not available

[2022-09-18 07:21] devarshishimpi commented on #32
Great, Are you referring to this? https://fontawesome.com/icons/lock?s=solid&f=classic

[2022-09-18 10:39] devarshishimpi commented on #32
Fixed in https://github.com/dvstechlabs/Noteslify/pull/42

[2022-09-18 10:39] #32 closed

[2022-09-18 10:41] devarshishimpi opened #43 "Replace Unicons with Fontawesome CDN Icons"
@Ravina-Deogadkar Could you handle this issue as well?

[2022-09-18 12:41] khushi818 opened #44 "Notes Model PopUp on click"
![notes](https://user-images.githubusercontent.com/81404366/190902439-a532f52f-decc-4458-aba7-d1e76f8d77e8.PNG)

The model should pop up upon clicking the notes itself. We can only do this by clicking the three dots. This is a feature to be added.

[2022-09-18 14:50] Ravina-Deogadkar commented on #44
Can I take this issue

[2022-09-18 14:55] devarshishimpi commented on #43
Or I'll take this issue.

[2022-09-18 14:55] devarshishimpi commented on #44
Sure.

[2022-09-18 15:17] Ravina-Deogadkar commented on #43
Sure, I'll do that

[2022-09-18 15:32] devarshishimpi commented on #43
Oh Okay.

[2022-09-19 05:38] devarshishimpi commented on #43
Fixed In https://github.com/dvstechlabs/Noteslify/pull/45

[2022-09-19 05:38] #43 closed

[2022-09-21 13:13] devarshishimpi opened #46 "Add Issues Templates"

[2022-09-21 21:07] Mannuel25 commented on #46
Hello @devarshishimpi , I'd Iove to take this up. Kindly assign it to me.

[2022-09-22 19:40] ericspring08 commented on #46
Sure

[2022-09-23 06:08] devarshishimpi commented on #46
Thank You, I have assigned you the same.

[2022-09-24 08:18] MrKrishnaAgarwal commented on #46
Hey,
I can work on this issue @devarshishimpi

[2022-09-24 10:22] devarshishimpi commented on #46
Hi Sure

[2022-09-24 11:05] devarshishimpi commented on #37
Partially added in https://github.com/dvstechlabs/Noteslify/pull/47

[2022-09-24 11:38] Ravina-Deogadkar commented on #44
Modal should open on clicking notes itself does this means removing edit from the three dots? And is it clicking anywhere on the note box or just the title?

[2022-09-24 11:48] devarshishimpi commented on #44
Modal Should open on clicking notes, Like a preview of the notes. Also yes, Clicking anywhere in the Notes Box.
The edit button is not to be removed. Basically clicking the note anywhere gives a preview ( Non-Editable ) and Clicking the Edit Button lets editing the notes as is now.

[2022-09-24 12:30] khushi818 commented on #44
the three dotes **need not** to be removed.  You just need to add additional feature where you can click anywhere on the note so that you can see the description about it. I hope it clears your doubt.

[2022-09-24 12:40] Ravina-Deogadkar commented on #44
Got it

[2022-09-24 15:18] Ravina-Deogadkar commented on #44
[screencast-nimbus-capture-2022.09.24-20_30_56.webm](https://user-images.githubusercontent.com/49125074/192105743-2a1a3063-b705-4ece-a9b5-25f438f66c69.webm)

Is it correct?

[2022-09-24 15:25] devarshishimpi commented on #44
Yes works, you can remove the Title and Description part from the preview so that the note content is shown more,

[2022-09-25 11:55] devarshishimpi commented on #44
Fixed In https://github.com/dvstechlabs/Noteslify/pull/49

[2022-09-25 11:55] #44 closed

[2022-09-25 11:56] devarshishimpi commented on #31
https://github.com/dvstechlabs/Noteslify/pull/48

[2022-09-25 11:58] devarshishimpi commented on #31
Fixed

[2022-09-25 11:58] #31 closed

[2022-09-25 12:53] Ravina-Deogadkar commented on #36
Can I take this issue If no one is working?

[2022-09-25 13:47] khushi818 commented on #44
@Ravina-Deogadkar  thank you for the awesome work :)

[2022-09-25 14:18] devarshishimpi commented on #36
Yes, Sure

[2022-09-25 16:06] devarshishimpi commented on #46
@MrKrishnaAgarwal Could you complete this by today?

Issues include
1. Bug Issues
2. Feature Request
3. Contact Support

[2022-09-25 16:11] MrKrishnaAgarwal commented on #46
Hey, sorry but not by today
Will do it by tomorrow

[2022-09-25 16:14] devarshishimpi commented on #46
Sure

[2022-09-26 14:13] devarshishimpi commented on #46
@MrKrishnaAgarwal Could you complete this today?

[2022-09-26 14:16] MrKrishnaAgarwal commented on #46
I'll do it asap today itself as soon as I reach home

[2022-09-27 06:06] AviAvinav commented on #28
Hi, @devarshishimpi, I just recently came across this project, this error may be caused because you might not have added your environment variables on your project's dashboard on Vercel.

[2022-09-27 06:20] AviAvinav opened #52 "Make a common .gitignore file"
I was going through the project and saw that each directory contains its own `.gitignore` files. It is not necessary, but it might be a good idea to make a common `.gitignore` in the project root.

[2022-09-27 11:08] devarshishimpi commented on #28
@AviAvinav Since the environment variable are present as a part of the backend. Vercel doesn't have any environment variables + Frontend based on React so no Environment variables in frontend. All of them have been added to backend hosting like Heroku. Is there some issue with it, a fix to it?

[2022-09-27 12:10] AviAvinav commented on #52
Yeah, I would like to work on it, please assign me

[2022-09-28 07:11] AviAvinav commented on #28
I am not sure how to fix this in that case

[2022-09-28 07:18] AviAvinav commented on #28
If you can share the hosted link where it is failing, maybe I can check what's wrong

[2022-09-28 07:36] devarshishimpi commented on #28
Hmm, It works fine and lets us authorize with Github and Google but after which fails at Callback. You can try it by Self Hosting it on Heroku 😄 .

[2022-09-29 16:40] devarshishimpi opened #54 "Make Search Functionality Working"
Making the Search Button at Noteslify Dashboard working with MongoDB Atlas and MongoDB Search Feature.

[2022-10-01 07:16] devarshishimpi commented on #35
https://github.com/dvstechlabs/Noteslify/pull/55

[2022-10-01 07:48] devarshishimpi commented on #35
Fixed

[2022-10-01 07:48] #35 closed

[2022-10-02 06:38] #52 closed

[2022-10-02 08:20] devarshishimpi opened #57 "Change Title And Description Text Optimized For SEO"
Changing the Default React App Text and Description and other related SEO fields.

[2022-10-02 08:27] akhilsharmaa commented on #57
I would like to work on this.

[2022-10-02 09:40] nmathew98 commented on #54
Hi, could I be assigned to this issue? Thanks!

[2022-10-02 10:15] MrKrishnaAgarwal opened #58 "chore: Add Pull Request Template"
Let's add PR Template to this repository

[2022-10-02 10:17] MrKrishnaAgarwal commented on #58
I'll make a PR adding the changes soon :)

[2022-10-02 10:19] Ravina-Deogadkar commented on #36
I have only added markdown support for preview shall I add a markdown editor to add and edit?

[screencast-localhost_3000-2022.10.01-22_54_39.webm](https://user-images.githubusercontent.com/49125074/193448406-a2573103-19af-4f62-a6e6-487959b3e01d.webm)

[2022-10-02 10:22] MrKrishnaAgarwal commented on #58
@devarshishimpi Please Review The PR :)

[2022-10-02 10:32] devarshishimpi commented on #58
Yes, merged. But Don't add `good first issue` label just anywhere tho

[2022-10-02 10:33] #58 closed

[2022-10-02 10:36] devarshishimpi commented on #36
Yes sure.

[2022-10-02 10:36] devarshishimpi commented on #54
@nmathew98 Sure. and done.

[2022-10-02 10:37] MrKrishnaAgarwal commented on #58
Okay!

[2022-10-02 11:00] devarshishimpi commented on #58
I don't think this issue has too many changes for Hacktoberfest.

[2022-10-02 11:00] devarshishimpi commented on #58
But yes, this one is part of Hacktoberfest https://github.com/dvstechlabs/Noteslify/issues/46

[2022-10-02 11:02] MrKrishnaAgarwal commented on #58
That was made before Oct 1

[2022-10-02 11:03] devarshishimpi commented on #58
The PRs made after Oct 1 is considered for Hacktoberfest even if the issue was made before the same.

[2022-10-02 11:06] MrKrishnaAgarwal commented on #58
See,
Even every small contributions are also counted in Hacktoberfest, it doesn't depend on big changes

My changes are ok

[2022-10-02 11:07] shivamchourasia4 opened #61 "Change Password Functionality"
Password change functionality can be added in accounts section.

[2022-10-02 11:07] shivamchourasia4 commented on #61
I would like to work on this. Can some assign this to me?

[2022-10-02 11:08] MrKrishnaAgarwal commented on #58
@devarshishimpi You should definitely add and approve the PR, but it's fine
If you don't want to

[2022-10-02 11:26] devarshishimpi commented on #58
I have approved the PR and merged it.

[2022-10-02 11:31] devarshishimpi commented on #61
Sure.

[2022-10-02 11:35] devarshishimpi commented on #58
Yes, but doesn't mean any sort of extremely small change. Also, as I said you may complete the issue https://github.com/dvstechlabs/Noteslify/issues/46 and get it approved for Hacktoberfest specifically.

[2022-10-02 11:37] devarshishimpi commented on #57
Sure. @akhilsharmaa

[2022-10-02 11:37] devarshishimpi opened #62 "Replace Landing Page Lorem Ipsum Content"
Replacing of Lorem Ipsum text on Landing Page ( This issue has been assigned )

[2022-10-02 12:00] MrKrishnaAgarwal commented on #58
Okay
No problem 👌

[2022-10-02 12:08] devarshishimpi commented on #58
This issue is also made part of Hacktoberfest.

[2022-10-02 12:09] MrKrishnaAgarwal commented on #58
Let's talk on discord please

[2022-10-02 12:19] Ravina-Deogadkar commented on #36
But adding a markdown editor in the modal will break down the modal and it won't look good in small size (modal width).

https://codesandbox.io/s/markdown-editor-for-react-izdd6?file=/index.js:61-105

[2022-10-02 12:28] devarshishimpi commented on #36
True. Can we just reduce the gap between the modal border and the internal description/title inputs? ( For width )
And, Remove the Title And Description Label and add it to the Input itself? ( For Height )

[2022-10-02 14:14] Ravina-Deogadkar commented on #36
It's making modal unstable.

[screencast-localhost_3000-2022.10.02-19_41_38.webm](https://user-images.githubusercontent.com/49125074/193458603-aaa1bc6f-03c6-442f-989e-e455aa9fcd1a.webm)

[2022-10-02 14:34] MrKrishnaAgarwal opened #63 "Update and Add More Issue Templates"
I'll turn bug.md and feature_request.md to issue forms, and add more issue templates.

Should I work on this?

@devarshishimpi

[2022-10-02 15:51] devarshishimpi commented on #36
Oh okay. So, make the PR without the markdown editing options, but markdown supported. Like you can use markdown like the previous screen recording you sent. Also, do keep it extended like the second screen recording just so that more space for notes typing.

[2022-10-02 15:55] devarshishimpi commented on #63
That's what we have to do in the other issue which is open. And yes, it's assigned to you.

[2022-10-02 15:55] #63 closed

[2022-10-02 16:21] MrKrishnaAgarwal commented on #46
Hey, Yes
I got it @devarshishimpi

[2022-10-02 17:24] devarshishimpi commented on #61
Fixed

[2022-10-02 17:51] utsav82 opened #65 "Bug: Cannot go back from login page if redirected there by clicking on Dashboard"
**Describe the bug**
If I click on dashboard on homepage it takes me to login page from where I cannot go back to home/landing page unless I login, this can cause inconvenience to users who might accidently click on it with no option to go back.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to (https://noteslify.vercel.app/)
2. Click on Dashboard ,it takes you to login page.
3. Try clic

[2022-10-02 18:20] devarshishimpi commented on #65
Thanks For Reporting :)) Also, yes I can assign this issue to you as a valid issue for hacktoberfest.

[2022-10-02 18:45] NnajiChimuanya commented on #65
Can you assign me this issue.....?

[2022-10-02 18:54] devarshishimpi opened #66 "Recycle Bin Stuck in Production Version."
I have attached a screenshot below. The loader looks stuck around 50%. Bin won't open in the production version.

![image](https://user-images.githubusercontent.com/43378923/193471111-811e10ec-daf8-47b6-879b-caf84cac0b03.png)

[2022-10-02 18:56] devarshishimpi commented on #61
@shivamchourasia4 Could you look into this further? Password not changing and no response on clicking the Password Reset in the production version at https://noteslify.vercel.app

[2022-10-02 19:04] shivamchourasia4 commented on #61
Got it.Somehow, there is an extra "/" in the put request.

<img width="694" alt="Screenshot 2022-10-03 at 12 33 26 AM" src="https://user-images.githubusercontent.com/73788982/193471547-22231fab-bf1a-4d6c-a905-e9dd114bb054.png">

[2022-10-02 19:15] shivamchourasia4 commented on #66
Looking into it!

[2022-10-02 19:30] shivamchourasia4 commented on #66
It is giving 404 in production. Is the backend deployed properly?

[2022-10-03 05:16] devarshishimpi commented on #65
Done

[2022-10-03 05:23] devarshishimpi commented on #61
Yes, Found it.

[2022-10-03 05:25] devarshishimpi commented on #61
![image](https://user-images.githubusercontent.com/43378923/193506769-32d672c6-aeef-49ca-87cf-704200c3ed48.png)

Looks Like it is present in the frontend.

[2022-10-03 05:30] devarshishimpi commented on #61
![image](https://user-images.githubusercontent.com/43378923/193507334-e1706a6d-4aa2-407a-921e-58e97e99616a.png)
 Now 404

[2022-10-03 06:02] devarshishimpi commented on #66
Yes, both are deployed properly. Checked it again. Similar 404 issues like this one https://github.com/dvstechlabs/Noteslify/issues/61

[2022-10-03 06:45] devarshishimpi commented on #66
![image](https://user-images.githubusercontent.com/43378923/193516057-cbff7bee-2ae8-41b7-9292-093abe1c9f8d.png)

[2022-10-03 06:45] devarshishimpi commented on #66
Some Heroku Logs

[2022-10-03 07:36] devarshishimpi commented on #66
I have reverted the backend as of now.

[2022-10-03 07:36] devarshishimpi commented on #61
I have reverted the backend as of now.

[2022-10-03 07:54] shivamchourasia4 commented on #66
I can't seem to find it out as locally it is working fine.

[2022-10-03 07:55] shivamchourasia4 commented on #61
this is also working fine locally.

[2022-10-03 07:56] devarshishimpi commented on #66
Yes, Locally it works fine. Production, above are the errors found on Heroku. Apart from that, even in production. Postman is able to send successful request. Not sure about the 404 errors.

[2022-10-03 07:57] devarshishimpi commented on #66
I think you may try deploying both frontend and backend on the Cloud?? And, you'll find the errors which are to be looked into.

[2022-10-03 07:58] devarshishimpi commented on #61
Exactly. I think both these issues have common problems.

[2022-10-03 11:56] Malay-dev opened #68 "Visual Bug: Unwanted scrollbar in Newsletter Section"
**Describe the bug**
The scrollbar in the Newsletter section in the Home can be unappealing to the users, and it can work out without using one, so I think we can fix it by changing some CSS.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://noteslify.vercel.app/
2. Scroll down to the "Subscribe to our newsletter" section
3. See the bug

**Expected behavior**
ScrollBar for that se

[2022-10-03 12:35] devarshishimpi commented on #68
Thanks For Pointing Out :)) Yes, it's valid for hacktoberfest and I have assigned you.

[2022-10-03 14:57] devarshishimpi commented on #68
Fixed

[2022-10-03 14:57] #68 closed

[2022-10-03 18:45] AbhishekTiwari23 commented on #62
I want to contribute, please assign.

[2022-10-04 04:07] abhinandanwadwa opened #70 "Add Toast in Recycle Bin"

[2022-10-04 10:15] devarshishimpi commented on #62
Please note this issue has already been assigned.

[2022-10-04 10:18] devarshishimpi commented on #70
Fixed in https://github.com/dvstechlabs/Noteslify/pull/71

[2022-10-04 10:18] #70 closed

[2022-10-04 10:45] abhinandanwadwa opened #72 "Fix the color fill when hovering over logout"

[2022-10-04 14:28] devarshishimpi commented on #72
![image](https://user-images.githubusercontent.com/43378923/193846037-286f4e0f-93a1-4534-ab95-c976b7f5bce7.png)

UI Color for other navbar buttons should be blue on hover. But changes to Grey.

[2022-10-04 14:38] devarshishimpi opened #74 "Refactoring CSS"
Kindly note this issue is not assigned to anyone. This issue will be handled by Noteslify Team.

[2022-10-04 14:39] devarshishimpi commented on #74
@khushi818 You remember the issues you were talking about using classes? This issue is for the same.

[2022-10-04 15:40] khushi818 commented on #72
Yes will do it

[2022-10-04 15:40] khushi818 commented on #74
Yes I am doing it

[2022-10-05 09:07] devarshishimpi opened #75 "Add Button To Permanently Delete Note in Recycle Bin ( Working )"

[2022-10-05 09:07] devarshishimpi commented on #75
@abhinandanwadwa have assigned you

[2022-10-05 09:37] #62 closed

[2022-10-05 09:50] neupanedipen opened #77 "No custom 404 Error Page"
**Is your feature request related to a problem? Please describe.**
Whenever user enters a route that doesn't exist, there's no custom 404 Error page to be displayed to the users.

**Describe the solution you'd like**
A custom 404 Error page can be created and added to the routes so that the users are notified that the route doesn't exist.

**Describe alternatives you've considered**
No alternative

[2022-10-05 09:53] devarshishimpi commented on #77
@neupanedipen Thanks For Pointing Out!!

[2022-10-05 09:54] neupanedipen commented on #77
You can assign this to me. I can work on this.

[2022-10-05 09:56] devarshishimpi commented on #77
Sure

[2022-10-05 10:01] devarshishimpi commented on #75
Added in https://github.com/dvstechlabs/Noteslify/pull/78

[2022-10-05 10:02] #75 closed

[2022-10-05 10:07] devarshishimpi commented on #57
@akhilsharmaa Where's the progress reached?

[2022-10-05 10:19] akhilsharmaa commented on #57
Hey! Can you specify what specific changes we want, I am unable to get proper idea of what is to be done here?

[2022-10-05 10:24] devarshishimpi commented on #57
Yes, we have to replace the current `Create React App` SEO Meta Tags and assets with the Respective Noteslify needed meta tags.

[2022-10-05 10:27] devarshishimpi commented on #54
@nmathew98 Where's the progress reached?

[2022-10-05 10:27] devarshishimpi commented on #46
@MrKrishnaAgarwal Where's the progress reached?

[2022-10-05 10:29] MrKrishnaAgarwal commented on #46
Its almost completed
Will make PR's soon

[2022-10-05 10:56] nmathew98 commented on #54
have not started on it yet, will push a PR for review by the weekend at the latest!

[2022-10-05 11:26] devarshishimpi commented on #77
Fixed

[2022-10-05 11:26] #77 closed

[2022-10-05 13:52] devarshishimpi opened #80 "Fix Netlify PR's Previews Deploys"

[2022-10-07 13:52] devarshishimpi commented on #80
Shifted Preview to Render

Fixed.

[2022-10-07 13:52] #80 closed, assigned to devarshishimpi

[2022-10-07 14:38] devarshishimpi opened #83 "Add FUNDING.yml"

[2022-10-08 02:27] nmathew98 commented on #54
This issue is closed? Ws just going to start work on it today haha. It's alright if it is, will unassign myself

[2022-10-08 11:17] devarshishimpi commented on #54
Yes, got merged in the previous one. I have commented on your PR itself.

[2022-10-08 11:17] #54 closed

[2022-10-08 23:30] BraydenTW opened #87 "Fix spacing on Landing page info section"
**Describe the bug**
Currently, the spacing between elements on desktop and mobile for the Info component on the landing page aren't very neat.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://noteslify.vercel.app/
2. Scroll down towards the bottom

**Expected behavior**
To have a cleaner look, the elements should be properly spaced out.

**Screenshots**
![image](https://user-im

[2022-10-09 04:18] nmathew98 commented on #66
@devarshishimpi can I help with this?

[2022-10-09 04:18] nmathew98 commented on #87
@devarshishimpi can I work on this?

[2022-10-09 05:58] devarshishimpi commented on #87
It looks fixed after a while it was created

[2022-10-09 05:59] #87 closed

[2022-10-09 06:00] devarshishimpi commented on #66
Sure.

[2022-10-09 06:00] #36 closed

[2022-10-09 06:11] devarshishimpi commented on #74
Partial Fix in https://github.com/dvstechlabs/Noteslify/pull/89

[2022-10-09 06:11] devarshishimpi commented on #37
Partial Fix in https://github.com/dvstechlabs/Noteslify/pull/89

[2022-10-09 06:11] #72 closed

[2022-10-09 07:38] #57 closed

[2022-10-09 09:43] PritamSarbajna opened #92 "Navbar is not interactive"
When I'm hovering over the navbar it is not interacting like it'd be good if its color changes or something

I'd love to work on it if assigned.

[2022-10-09 09:58] nmathew98 opened #93 "Wrong backend server"
**Describe the bug**
Fetching data from API fails with the following error:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the all notes page

**Expected behavior**
The page should load data from the API

**Screenshots**
<img width="945" alt="image" src="https://user-images.githubusercontent.com/55116576/194750364-d6516fad-b9af-40d6-bf69-c03887700b98.png">

[2022-10-09 09:59] devarshishimpi commented on #92
Which navbar were you referring to? The side nav after login or the one on the landing page?

[2022-10-09 10:04] nalin-programmer commented on #93
Assign me this task

[2022-10-09 10:04] PritamSarbajna commented on #92
Navbar of the landing page

[2022-10-09 10:04] devarshishimpi commented on #92
Yes, Sure. That does need enhancement. The one after login won't be changed and looks fine.

[2022-10-09 10:05] devarshishimpi commented on #93
Sure. This issue does need a faster fix since it's running in production.

[2022-10-09 10:07] PritamSarbajna commented on #92
@devarshishimpi Thanks for assigning me 🙌

[2022-10-09 10:15] nmathew98 commented on #93
This is not a CORS issue, its checking the wrong backend server sorry haha

[2022-10-09 10:20] Volley-Freak opened #95 "Contact image not showing in contact us page."
The path given for the image in contact us page is not working.

![contact](https://user-images.githubusercontent.com/85556562/194751305-f88ca26d-b5dc-48c0-83e3-22a023ea1a37.png)

Would enjoy to resolve this issue.

[2022-10-09 10:45] devarshishimpi commented on #93
![image](https://user-images.githubusercontent.com/43378923/194752367-6243f049-7893-49b9-bff0-9c83abe534f1.png)

@nmathew98 Only loads the title

[2022-10-09 10:49] devarshishimpi commented on #95
@Volley-Freak Done, Have assigned you

[2022-10-09 11:05] devarshishimpi commented on #61
Issue fixed

[2022-10-09 11:05] #61 closed

[2022-10-09 11:05] devarshishimpi commented on #66
Issue Fixed

[2022-10-09 11:05] #66 closed

[2022-10-09 11:10] devarshishimpi commented on #92
Fixed

[2022-10-09 11:10] #92 closed

[2022-10-09 11:17] ann0nip opened #99 "Not all footer links are working"
**Describe the bug**
The different links on the footer should work as the nav bar.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Home Page'
2. Click on the differents Links on the footer
3. Some of them are not working, but it does if you use the top nav links

**Expected behavior**
It should work as the top nav links

**Desktop (please complete the following information):**
 - OS:

[2022-10-09 11:18] #95 closed

[2022-10-09 11:34] devarshishimpi commented on #93
It's just for the previous notes, the new notes work fine

[2022-10-09 11:36] devarshishimpi commented on #99
Thanks For Pointing Out!!! It was scheduled to be added with the pricing page, even tho technically the privacy page is going to be free of cost

[2022-10-09 12:52] #99 closed

[2022-10-09 12:52] devarshishimpi commented on #99
Fixed

[2022-10-09 14:04] #83 closed

[2022-10-09 14:15] pedropcamellon opened #102 "Change Newsletter section in Landing page"
**Is your feature request related to a problem? Please describe.**
In section "Subscribe To Our Newsletter" appears a little vertical overflow showing scroll bars.

**Describe the solution you'd like**
Remove the overflow.

**Additional context**
![img](https://user-images.githubusercontent.com/83567517/194761641-9ceb36b8-2aa9-4834-a9b5-7a4156f26b62.png)

[2022-10-09 14:21] devarshishimpi commented on #102
@Pcamellon Thanks For Pointing Out!! Do you want me to assign it to you as well?

[2022-10-09 14:25] Pcamellon commented on #74
Hi! I just started looking at app styles and I see in "Noteslify/frontend/src/" two main files: App.css and index.css. What are we using each one for?

[2022-10-09 14:27] Pcamellon commented on #102
Yes! Thanks

[2022-10-09 16:44] Pcamellon commented on #102
In NewsLetter component I converted the Function to a Class and tried accessing the elements inside of iframe like this but I'm getting null:

[code]

[2022-10-09 17:00] devarshishimpi commented on #102
We'll probably shift to our own form with Airtable API. I think we'll go with formspree

[2022-10-09 17:02] devarshishimpi commented on #102
You can work on a custom form and add it to that section. We'll use formspree for submitting the forms and then Zapier to integrate with Airtable, or maybe Formspree's direct integration with Airtable

[2022-10-09 21:32] Pcamellon commented on #102
Here is a prototype I made in [Figma](https://www.figma.com/file/LG9p22NDsO9iSZ5KPyIWgf/Untitled?node-id=101%3A4).

[2022-10-10 02:20] khushi818 commented on #74
@Pcamellon hi We are using App.cs to declare global CSS and index.css for toggle purpose for now. This has to be changed. We will be doing it.

[2022-10-10 02:32] khushi818 commented on #102
It looks amazing. What if we centralize the heading for desktop version?

[2022-10-10 05:33] CoderAayush2104 opened #103 "Add animation in the navbar"
Please assign it to me.I will do it for you

[2022-10-10 05:48] devarshishimpi commented on #103
Actually, this has been added and just updated in production

[2022-10-10 05:48] devarshishimpi opened #104 "Add a better footer section to Landing Page ( Responsive )"

[2022-10-10 05:49] devarshishimpi commented on #103
You may want to work on this https://github.com/dvstechlabs/Noteslify/issues/104

[2022-10-10 05:50] devarshishimpi opened #105 "Fix Navbar on Responsiveness"
Navbar doesn't open on few mobile sizes, Also, Tab size navbar hasn't been updated yet

[2022-10-10 05:50] devarshishimpi commented on #103
Or this https://github.com/dvstechlabs/Noteslify/issues/105

[2022-10-10 05:51] #103 closed

[2022-10-10 05:53] devarshishimpi commented on #102
Yep, Works

[2022-10-10 05:53] devarshishimpi commented on #102
Hmm, and then later responsive in the center for mobile devices as well

[2022-10-10 05:56] ron-huberfeld commented on #104
Hi @devarshishimpi
Can I have this?

[2022-10-10 05:57] bhumika-1-3 commented on #104
Can I make a better footer for the page?

[2022-10-10 05:57] ron-huberfeld commented on #105
Hi @devarshishimpi
Can I have this?

[2022-10-10 05:57] devarshishimpi commented on #104
Sure, I have assign you both

[2022-10-10 05:58] bhumika-1-3 opened #106 "Animation and transitions on the page"
Using AOS animation on the screen while scrolling.

[2022-10-10 05:58] devarshishimpi commented on #105
Sure

[2022-10-10 05:59] bhumika-1-3 commented on #106
Can I do this ?

[2022-10-10 06:00] devarshishimpi commented on #106
Sure

[2022-10-10 06:05] devarshishimpi opened #107 "Reducing the Number Of Dependencies"
If possible could we reduce the number of dependencies for better app security?

[2022-10-10 06:09] devarshishimpi opened #108 "Notes Page Goes Blank after login and needs a page refresh"
![image](https://user-images.githubusercontent.com/43378923/194806940-e838907a-7ab0-4ec9-bfc6-03a7c67a35a9.png)

Notes page goes blank after login and needs a page refresh in order to view the notes

[2022-10-10 06:34] IncredibleZuess commented on #108
Hey @devarshishimpi! Can I work on this one?

[2022-10-10 06:36] devarshishimpi commented on #108
Sure

[2022-10-10 06:40] devarshishimpi opened #110 "Add Zero Knowledge Encryption"
Encrypt Notes before saving them to MongoDB, and the same while retrieving it

[2022-10-10 06:48] Ravina-Deogadkar commented on #107
can i take this issue

[2022-10-10 07:26] Vineet-0 opened #111 "Introducing a Back to Top Button ↑"
**Is your feature request related to a problem? Please describe.**
As I go through your site several times and face an issue that there is no button Back to Top so I have to scroll it
so here is  my solution for this, I am introducing a Back to Top

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear

[2022-10-10 07:29] devarshishimpi commented on #107
yes

[2022-10-10 07:30] #106 closed

[2022-10-10 07:32] devarshishimpi commented on #111
Great Idea!

[2022-10-10 08:14] biswajit035 opened #112 "Adding placeholder in add note popup"
**ADDING PLACEHOLDER TO ADD NOTE POPUP**

I would like to add a placeholder to the add note popup which will increse the user experience and will look more functional.

**BEFORE CHANGE**
![BEFORE](https://user-images.githubusercontent.com/88304589/194823498-74bad327-8234-41c1-a214-39dbaca765b6.jpg)

**AFTER CHANGE**
![AFTER](https://user-images.githubusercontent.com/88304589/194823530-131e642c-108

[2022-10-10 08:15] biswajit035 commented on #112
PLEASE ASSIGN ME FOR THIS TASK

[2022-10-10 09:09] Gauravdarkslayer commented on #110
Hey @devarshishimpi , I would like to work on this issue. Can you please assign it to me ?
Thanks !!

[2022-10-10 09:12] williamssam commented on #111
@devarshishimpi is this still up for grabs??

[2022-10-10 09:45] devarshishimpi commented on #112
Yes sure.

[2022-10-10 09:47] devarshishimpi commented on #110
Hi, Sure

[2022-10-10 09:47] devarshishimpi commented on #111
Yes

[2022-10-10 09:49] williamssam commented on #111
Thanks ☺️

[2022-10-10 10:29] ftonato opened #115 "React complaining about HTML syntax"
**Describe the bug**

Since `React v16.x`, every-time we type HTML properties without respecting the React rules, we'll see these "Invalid DOM properties" being printed in the output.

The purpose of this PR/MR is to solve all of them 🚀

**To Reproduce**
Steps to reproduce the behaviour:
1. Run the app locally
2. Open the dev-tools (console) from your browser
3. Check all the warnings being printe

[2022-10-10 10:29] devarshishimpi commented on #93
Correction : Issue fixed

[2022-10-10 10:29] #93 closed

[2022-10-10 10:31] #115 closed

[2022-10-10 10:52] Ravina-Deogadkar opened #116 "State is maintained after preview window is closed and add new note modal is open"
**Describe the bug**
The state is not getting cleared after we close the preview and open Add new note modal.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new note
2. Click on the newly created note, and the preview window will open.
3. Close the preview window.
4. Click on Add new note.

**Expected behavior**
Add new note should have blank textbox everytime.

**Screenshots**
![n

[2022-10-10 10:53] devarshishimpi commented on #116
Yes, Thanks For Pointing that out.

[2022-10-10 11:00] nirajpdn commented on #116
I want to do this

[2022-10-10 11:02] devarshishimpi commented on #116
Sure

[2022-10-10 11:06] devarshishimpi opened #117 "Markdown editor not showing up in production"
![image](https://user-images.githubusercontent.com/43378923/194852455-addf97f1-7b71-4166-9ba9-d5f0055a3de0.png)

Here's the preview of the output of the markdown editor

[2022-10-10 13:26] devarshishimpi opened #119 "Add Sitemap On Noteslify For Better SEO"
The sitemap should also auto-update on every new component added to the website without manually needing to update it

[2022-10-10 13:48] Ravina-Deogadkar commented on #117
Let me check this

[2022-10-10 13:59] ron-huberfeld commented on #105
Hi @devarshishimpi
Can you please review the PR?

[2022-10-10 14:02] Pcamellon commented on #74
I agree. I will be glad to help

[2022-10-10 14:05] ron-huberfeld commented on #104
@devarshishimpi, can you please comment about the existing footer - what is wrong with it?
![image](https://user-images.githubusercontent.com/32178925/194884616-2ec280b2-c6a8-48f5-b1f8-ebcd6cc31f4c.png)

[2022-10-10 14:13] devarshishimpi commented on #104
@ron-huberfeld

It's a google picture, but similar to this, while being responsive
![image](https://user-images.githubusercontent.com/43378923/194886437-1057f1bf-0383-4089-b7d9-b158ebde2376.png)

[2022-10-10 14:30] bhumika-1-3 commented on #104
I will do it.

[2022-10-10 14:31] devarshishimpi commented on #105
Done

[2022-10-10 14:31] devarshishimpi commented on #104
Sure, Have assigned you already.

[2022-10-10 14:32] bhumika-1-3 commented on #104
![image](https://user-images.githubusercontent.com/80103105/194890272-533c7803-8f7d-4a1f-bd09-bc80c59179b2.png)

Will this format be fine ?

[2022-10-10 14:35] Pcamellon commented on #102
***Desktop*** *(three variations, now with the right proportions)*
1.
![image](https://user-images.githubusercontent.com/83567517/194884115-87beb577-062f-4bda-97b7-2d874574e4c2.png)

2.
![image](https://user-images.githubusercontent.com/83567517/194890618-624fd93e-1b96-4f81-b1d7-debb4c766291.png)

3.
![image](https://user-images.githubusercontent.com/83567517/194890778-fc3747db-d7e7-4822-857c-135b

[2022-10-10 14:45] devarshishimpi commented on #116
Both PRs got merged. Will have to check with the same.

[2022-10-10 14:45] #116 closed

[2022-10-10 14:48] #46 closed

[2022-10-10 14:56] bhumika-1-3 commented on #104
![image](https://user-images.githubusercontent.com/80103105/194895308-c2b56e6f-42a7-4522-9c59-9c60bb15e498.png)

how is this

[2022-10-10 14:57] devarshishimpi commented on #104
Works, I hope it's responsive as well.

[2022-10-10 15:12] bhumika-1-3 commented on #104
yes it is
![image](https://user-images.githubusercontent.com/80103105/194898734-5df667cc-8266-424d-bc3b-30e57dc25a1b.png)

[2022-10-10 15:16] ron-huberfeld commented on #119
Hi @devarshishimpi
Can I have this?

[2022-10-10 15:17] ron-huberfeld commented on #119
Please also add more requirements info

[2022-10-10 15:25] pedropcamellon commented on #102
I'm on it!

[2022-10-10 15:45] devarshishimpi commented on #104
Great!

[2022-10-10 15:46] devarshishimpi commented on #119
Sure

[2022-10-10 15:48] devarshishimpi commented on #119
It should simply be able to generate a `sitemap.xml` file containing all the pages needed on the search engine. Hope it clears now!

[2022-10-10 16:07] devarshishimpi commented on #104
Fixed

[2022-10-10 16:07] #104 closed

[2022-10-10 16:23] pedropcamellon commented on #74
I think we can move most of the rules, or all of them, in LandingPage.css to index.css.

[2022-10-10 16:24] devarshishimpi commented on #74
You can discuss the same with @khushi818  as this issue will be handled by her.

[2022-10-10 17:34] pedropcamellon commented on #74
I will be listing here some personal suggestions:

- Change:
[code]
to
[code]

- Change:
[code]
to
[code]

- Add this to index.css:
[code]

- Add this to index.css:
[code]

- `flex` class is defined like this:
[code]
I prefer:
[code]

[2022-10-10 17:35] devarshishimpi commented on #74
@khushi818

[2022-10-10 19:06] pedropcamellon commented on #102
Sharing my progress:

![image](https://user-images.githubusercontent.com/83567517/194934685-3ac57556-3393-4084-80dc-ec7f62f769a0.png)

I'm having trouble with getting that checkmark done :(

[2022-10-10 20:56] pedropcamellon commented on #102
Done!
![image](https://user-images.githubusercontent.com/83567517/194951097-3bc6de64-f3ad-4563-9048-492306df40ed.png)

[2022-10-11 11:30] devarshishimpi commented on #102
Is the background matching and looking good with the rest website content? Like the footer and the about section above it?

[2022-10-11 12:03] #111 closed

[2022-10-11 12:06] khushi818 commented on #74
@pedropcamellon  sorry for the late reply I really like the things you listed. It would  be  nice to do it this way. I will appreciate your suggestions even more. Thank you for contributing.

[2022-10-11 13:36] ann0nip opened #128 "🐛 [BUG] - The first-time login shows a blank page."
### Description

The issue is due to a request API error. But if you refresh the page, all works fine.

I want to debug and see if I can fix itSo pleasese sign this issue to me.

<img width="973" alt="Screen Shot 2022-10-11 at 10 14 10" src="https://user-images.githubusercontent.com/2248100/195105009-9bed66f5-e838-4930-bd1d-b1ed2d6081c5.png">

### Reproduction URL

http://localhost:3001/notes

###

[2022-10-11 13:59] chintan0513 opened #129 "Button to Top"
### Start Date

10/11/2022

### Implementation PR

_No response_

### Reference Issues

_No response_

### Summary

I will add a button on the left side which redirects the user to the top from the bottom.

### Basic Example

This is the basic example that I mentioned in summary

### Drawbacks

It mainly reduces the space in the portal, for example, 5 to 20px right side.

### Unresolved questions

[2022-10-11 14:35] devarshishimpi commented on #128
@ann0nip Thanks For Pointing out the issue as well as the fix!! 🙌🏻

[2022-10-11 14:36] #128 closed

[2022-10-11 14:45] devarshishimpi commented on #129
@chintan0513 Hey, this was already added in https://github.com/dvstechlabs/Noteslify/pull/124

[2022-10-11 14:45] #129 closed

[2022-10-11 15:23] devarshishimpi opened #131 "Production Build failing"
![image](https://user-images.githubusercontent.com/43378923/195133056-9a04edd2-aa4c-4be5-992c-f467eb0d7a7d.png)

Needs faster fix. Running `npm start` works with minor errors, but the production build fails.

[2022-10-11 15:28] Gauravdarkslayer commented on #110
Hi @devarshishimpi , Do we have to encrypt title and description both?

[2022-10-11 15:42] #131 closed

[2022-10-11 19:22] pedropcamellon commented on #102
I think it is. I have to remove a margin at the top of the footer section.

*Mobile*
![image](https://user-images.githubusercontent.com/83567517/195180105-d668b0e9-5fb4-4f11-bcba-837a1bb387d7.png)

*Desktop*
![image](https://user-images.githubusercontent.com/83567517/195180213-8c9a9b60-cba0-4bb5-9f5a-e5025cfb81de.png)

[2022-10-11 19:23] pedropcamellon commented on #102
Form will do nothing:
`<form action="" class="newsletter__form text-center">`

[2022-10-12 06:13] devarshishimpi commented on #102
Looks great @pedropcamellon Could you update with the latest branch, since the footer has been changed, and it would need a white background?

[2022-10-12 06:14] devarshishimpi commented on #102
That's fine, I'll add that later on.

[2022-10-12 07:32] PrajwalDhule opened #133 "Implementation of Folder section"
### Full implementation of folder section

I want to implement the folder section for this website. I have a basic idea on how I'll go about for both the front and back-end for this. If you are accepting this issue, please assign it to me with a hacktoberfest label, I would really appreciate it :)

![image](https://user-images.githubusercontent.com/89639472/195278617-75f99726-61e8-4c4f-8a3e-71f085

[2022-10-12 07:36] devarshishimpi commented on #133
Yes sure. Looks great to me.

[2022-10-12 07:37] devarshishimpi commented on #133
You may replace the navbar button above logout button saying as `Folders` and using font awesome icon for the same

[2022-10-12 08:20] PrajwalDhule commented on #133
Yes I will rename it and I don't think I need to add an icon as there is one already

[2022-10-12 09:23] devarshishimpi commented on #133
That works as well, tho would love if we could get a better icon which matches folders

[2022-10-12 09:23] #108 closed

[2022-10-12 09:35] PrajwalDhule commented on #133
Sure

[2022-10-12 12:27] pedropcamellon commented on #102
Can you guide me with that? I'll fork the project. Work on my fork in pedropcamellon/noteslify. What do I do after?

[2022-10-12 13:06] devarshishimpi commented on #102
I can't find the branch for the same. Probably, write the code with the new footer at the bottom.
I have to change few settings in the footer as well, but I'll keep it as it is for now until your PR has been made.

[2022-10-12 13:14] devarshishimpi commented on #102
I can't find your branch. Could you make a new branch in your fork and then commit all of them there? Or even works from your main branch of the fork.

[2022-10-12 13:32] pedropcamellon commented on #102
I couldn't commit because the branch appeared as protected. That was what I mentioned before. It get fixed, i dont know how. I made the commits, push changes and pull request.

[2022-10-12 13:36] devarshishimpi commented on #102
Good that's fixed.

[2022-10-12 14:34] pedropcamellon commented on #102
Can you please check what I did above? I dont have much xp with Github.

- I forked the project and worked on my copy in pedropcamellon/noteslify. I'm seeing this:
![image](https://user-images.githubusercontent.com/83567517/195366434-589181d4-a4f7-4c5d-8e1b-47ec981c8f8a.png)

- I made some commits:
![image](https://user-images.githubusercontent.com/83567517/195366989-6012cdf5-22e7-4608-8017-5e249b

[2022-10-12 14:39] devarshishimpi commented on #102
Yes, all of those commits are perfect. Simply go back to your Github Code which you wrote. And then add your code back there. It seems like pulling from the main branch removed your code. Simply copy paste the code from your commits back into the repository code and check if everything is working fine. If yes, commit it to your fork. It will get updated here automatically.

[2022-10-12 15:09] anshulsoni4 opened #135 "Add a cursor pointer property to footer social link buttons🐛 [BUG] - <title>"
### Description

I think there is no cursor pointer added to the buttons present in the footer section. I would like to add that feature.

### Reproduction URL

https://github.com/dvstechlabs/Noteslify/issues

### Reproduction steps

[code]

[2022-10-12 18:13] THEYASHGAUR commented on #135
Hey
I know how to solve this, can you please assign this issue to me.

[2022-10-12 18:14] THEYASHGAUR commented on #135
Hey
**I know how to solve this problem, can you please assign this issue to me.**

[2022-10-12 18:51] mpatwa98 opened #137 "social media icon in the footer does not work"
I want to link the social media icon to corresponding link of noteslify

[2022-10-13 06:30] PrajwalDhule commented on #133
Hello! I needed some help for this issue. For the backend part of this issue, I made a folder schema but I am having trouble with actually getting it working. This project seems very interesting and I want to contribute as much as I can, but I didn't quite understand API part and how the data is sent and fetched from MongoDB. I tried what I know from one of my previous projects but it still couldn

[2022-10-13 09:23] biswajit035 opened #138 "adding active class to SIDENAV"
I want to add  **ACTIVE** class according to url so that we can have a idea about our current tav in **SIDENAV**.
I added **#e4e9f7** color as background of active class so the active tab's background will be highlighted with this color.

BEFORE
![BEFORE](https://user-images.githubusercontent.com/88304589/195557430-2dce5e6c-26c8-48d9-96f5-eb0e81ba82d6.jpg)

AFTER
![AFTER](https://user-images.githu

[2022-10-13 09:25] biswajit035 commented on #138
I would like to work on it. Can you please assign it to me.

[2022-10-13 14:21] devarshishimpi commented on #138
Great!! Yes sure.

[2022-10-13 14:23] devarshishimpi commented on #137
Hi, This issue will be handled by Staff team itself. This won't be available for community fix. Thanks For Pointing Out!!

[2022-10-13 14:29] devarshishimpi commented on #133
To further understand. I have created a branch for the same. Could you create a PR of the frontend-only which merges to that branch?

[2022-10-13 14:29] devarshishimpi commented on #135
Sure

[2022-10-13 15:38] PrajwalDhule commented on #133
Sure, I'll work on that

[2022-10-14 04:56] devarshishimpi commented on #138
Fixed

[2022-10-14 04:56] #138 closed

[2022-10-14 09:03] devarshishimpi commented on #135
@THEYASHGAUR @anshulsoni4 Can we complete it within next 2 days?

[2022-10-14 09:04] devarshishimpi commented on #112
Fixed

[2022-10-14 09:04] #112 closed

[2022-10-14 09:06] devarshishimpi commented on #119
@ron-huberfeld Could you complete it within next 2-3 days?

[2022-10-14 09:19] devarshishimpi opened #140 "Implement Account Delete Feature"

[2022-10-14 09:27] #140 closed

[2022-10-14 10:05] whizzbbig commented on #135
Hi can you assign me so not only i can change the way those social icons work but also manage the whole footer the way you want

[2022-10-14 10:11] THEYASHGAUR commented on #135
ok we will work in this issue together

[2022-10-14 10:23] anshulsoni4 commented on #135
sure thing

[2022-10-14 10:30] ron-huberfeld commented on #119
@devarshishimpi sorry for the delay. please review

[2022-10-14 10:44] whizzbbig commented on #135
@devarshishimpi resolved the issue please check #142

[2022-10-14 10:44] whizzbbig commented on #135
don't forget to assign me tho

[2022-10-14 12:31] devarshishimpi commented on #135
Fixed

[2022-10-14 12:31] #135 closed

[2022-10-14 12:37] devarshishimpi commented on #119
That's fine

[2022-10-14 13:05] BrunoLagoa opened #144 "🐛 [BUG] - Floating button overlaying footer content"
### Description

Floating button overlaying footer content.

### Reproduction URL

https://noteslify.stonecss.com

### Reproduction steps

[code]

### Screenshots

[code]

### Logs

_No response_

### Browsers

Chrome

### OS

Mac

[2022-10-14 15:06] whizzbbig commented on #144
@devarshishimpi To resolve this i think footer can be redesign, what you think? if you agree with it i'll come with a new design and implement it in no time

[2022-10-14 15:40] devarshishimpi commented on #144
The older footer was just basic, even this one is quite basic and needs upgrade ( similar design ), So yes.

[2022-10-14 17:19] BrunoLagoa commented on #144
A small adjustment in the footer, for me it would solve it.

![Uploading Captura de Tela 2022-10-14 às 14.18.10.png…]()

[2022-10-14 17:29] devarshishimpi commented on #144
Works!! You may customize the footer a bit as well, making it better.

[2022-10-14 17:33] BrunoLagoa commented on #144
I was wondering, can I work on this adjustment or is there already someone working? =)

[2022-10-14 18:53] whizzbbig commented on #144
![Screenshot 2565-10-15 at 12 22 09 AM](https://user-images.githubusercontent.com/54703305/195919973-71394246-192c-45d2-a3fe-fdf757014353.png)
@devarshishimpi  this is the design i came up with just now made it quickly sorry for responding late so the thing here we gonna change is

to give the space to the content in the footer so they can breathe
and change some positioning to make them consisten

[2022-10-15 04:59] nmathew98 commented on #117
@devarshishimpi can I be assigned to this?

[2022-10-15 09:05] devarshishimpi commented on #144
looks good, this works

[2022-10-15 09:07] devarshishimpi commented on #117
Yes sure.

[2022-10-15 09:24] whizzbbig commented on #144
am gonna implement it now will push in mins till then if you have anything to implement you can count me in also i have some designs in mind for our hero will keep you posted

https://user-images.githubusercontent.com/54703305/195979178-96fcb36c-bbba-4a27-8497-0f1c30962e46.mov

[2022-10-15 09:33] devarshishimpi commented on #144
Okay 👍🏻

[2022-10-15 10:57] whizzbbig commented on #144
@devarshishimpi  done 👍🏻

[2022-10-15 12:45] whizzbbig commented on #144
@devarshishimpi i also made it responsive :)

[2022-10-15 12:55] devarshishimpi commented on #144
Reviewed, Requires few changes

[2022-10-15 13:04] whizzbbig commented on #144
yes state them

[2022-10-15 13:05] devarshishimpi commented on #144
have added them in the PR itself

[2022-10-15 13:11] abhinandanwadwa opened #146 "💡 Account Delete"
### Start Date

10/15/2022

### Implementation PR

_No response_

### Reference Issues

_No response_

### Summary

The user will first request an account delete and he/she will receive an email to confirm the password for deleting his/her account.

### Basic Example

Delete User

### Drawbacks

No Drawbacks

### Unresolved questions

_No response_

[2022-10-15 13:14] devarshishimpi commented on #146
Added

[2022-10-15 13:14] #146 closed

[2022-10-15 15:23] krishnabiradar310802 opened #148 "Other Dark mode for the website"
### What would you like to share?

Now a days people are using dark mode so i can add it to the website

### Additional information

_No response_

[2022-10-15 16:42] devarshishimpi commented on #148
Hi There, Thanks. The same issue is in https://github.com/dvstechlabs/Noteslify/issues/3. Could you comment there so that I can assign you?

[2022-10-15 16:42] #148 closed

[2022-10-15 16:44] devarshishimpi commented on #144
Fixed

[2022-10-15 16:44] #144 closed

[2022-10-15 16:51] devarshishimpi commented on #148
Here. Linked the wrong one https://github.com/dvstechlabs/Noteslify/issues/37

[2022-10-15 17:05] krishnabiradar310802 commented on #37
i can add the dark mode and light mode feature

[2022-10-15 17:25] devarshishimpi commented on #37
Assigned

[2022-10-16 07:10] MrKrishnaAgarwal commented on #102
This issue was completed in #136

Closing!!

[2022-10-16 07:12] MrKrishnaAgarwal commented on #38
This issue was completed in #60

Closing!!

[2022-10-16 07:12] #38 closed

[2022-10-16 07:25] devarshishimpi commented on #102
Wasn't yet completed

[2022-10-16 07:26] MrKrishnaAgarwal commented on #102
Okay!

[2022-10-16 07:33] PrakashGatiyala opened #151 "Github link on header is redirecting to old repo(archived Repo)"
### What would you like to share?

![image](https://user-images.githubusercontent.com/34413515/196023727-e0100bdf-017c-46bb-b259-98a33fea26d7.png)

Above github link is redirecting to archived repo.

![image](https://user-images.githubusercontent.com/34413515/196023742-77245ace-cf7c-47b5-a4f3-39373b55f842.png)

I want to fix this link.
Hi @devarshishimpi  Can you assign me this issue?

### Additio

[2022-10-16 07:54] devarshishimpi commented on #151
Yes sure

[2022-10-16 07:55] devarshishimpi commented on #151
There may be another at the bottom

[2022-10-16 09:06] PrakashGatiyala commented on #151
Footer one was already correct.

[2022-10-16 09:19] PrakashGatiyala commented on #151
Hi @devarshishimpi I've created the PR for it. PR link: https://github.com/dvstechlabs/Noteslify/pull/152
Please review it and merge it.

[2022-10-16 09:24] devarshishimpi commented on #151
Merged

[2022-10-16 09:24] #151 closed

[2022-10-16 12:38] #137 closed

[2022-10-16 12:40] devarshishimpi opened #154 "Make Contact form working"
This issue is only handled by staff

[2022-10-16 13:01] #154 closed

[2022-10-16 14:10] PrakashGatiyala opened #156 "git links in package.json is referring to old(archived) repo."
### What would you like to share?

![image](https://user-images.githubusercontent.com/34413515/196039771-81cfa1a3-ac12-492f-b4e9-9ead00f4abd9.png)

Hi, as you can see in above image, git links in package.json is referring to old(archived) repo.
same issue is for Front-end [package.json](https://github.com/dvstechlabs/Noteslify/blob/main/frontend/package.json) and backend [package.json](https://git

[2022-10-16 14:54] devarshishimpi commented on #156
Yes sure

[2022-10-16 14:55] devarshishimpi commented on #156
Could you update the description as well to the current one?

[2022-10-16 14:58] PrakashGatiyala commented on #156
Should I replace description with _**Your Privacy Friendly, Open Source. Alternative to EverNote.**_  ?

[2022-10-16 15:37] devarshishimpi commented on #156
Merged

[2022-10-16 15:37] #156 closed

[2022-10-16 16:43] devarshishimpi opened #158 "Create A Docker Container For Noteslify"
Create A Docker Container for Noteslify

[2022-10-16 18:09] #117 closed

[2022-10-16 18:09] devarshishimpi commented on #117
Fixxed

[2022-10-16 18:39] Yaswanth820 opened #159 "Modify Footer links section"
### What would you like to share?

In the footer section of the website, The `some links` section is repeated. I want to work on it and remove one section/add some other section based on your suggestions.

Can you assign this issue to me under hacktoberfest?

### Additional information

_No response_

[2022-10-16 21:29] mpeiffer commented on #158
Can I be assigned to this issue?

[2022-10-17 03:15] whizzbbig opened #162 "🐛 [BUG] - The Flow of design from Header to Secondary Section looks Bland"
### Description

if a user flow from header to secondary section. it will notice a blue rectangular form of wave which looks bland in terms of design and also looks confusing which has no meaning according to content of website to make it more friendly, engaging and make website design look more good

i came with a design which not only justify the feeling of friendliness but also animating. yes y

[2022-10-17 03:16] whizzbbig commented on #162
Also the colors can be changed according to owner needs

[2022-10-17 03:50] devarshishimpi commented on #158
Yes sure

[2022-10-17 03:55] devarshishimpi commented on #159
This is the same as https://github.com/dvstechlabs/Noteslify/issues/137

[2022-10-17 03:55] #159 closed

[2022-10-17 04:09] devarshishimpi commented on #162
We won't replace anything from the hero section. But the wave is to be replaced. I didn't really prefer this design. Could you send some 2-3 stock pictures of different designs in that section?

[2022-10-17 04:10] devarshishimpi commented on #162
Or maybe some figma file?

[2022-10-17 04:11] devarshishimpi opened #163 "Remove HTTP Access over Cross-Origin"
Remove HTTP access over cross origin and remove the welovefonts domain name from the corresponding location

Worked By Staff Only

[2022-10-17 04:21] RakibRahman opened #165 "💡 [REQUEST] - Make contribution.md clickable on README file to navigate to the contribution page dynamically."
### Start Date

_No response_

### Implementation PR

#164

### Reference Issues

_No response_

### Summary

As of now, we have to manually navigate to the contribution and code_of_conduct page if we want to check it out. It would be a better user experience if the user can directly visit the contribution and code_of_conduct page by clicking from the REAME.md file.

### Basic Example

None

### D

[2022-10-17 04:22] RakibRahman commented on #165
completed all the steps and raised an issue.

[2022-10-17 06:39] whizzbbig commented on #162
https://www.figma.com/file/CbVAtfwHFWiRbYjSXnUq1h/Untitled?node-id=0%3A1
this is figma file can you refer me to the design term from which you have been influenced
so i can create right moodboards and lead to the end result

[2022-10-17 11:30] #165 closed

[2022-10-17 11:34] devarshishimpi commented on #165
Merged

[2022-10-17 16:07] biswajit035 opened #167 "Fixing dashboard background"
When there are few numbers of note and you have to scroll down to acces them then you can saw there is no background color in **DASHBOARD** page.
![image](https://user-images.githubusercontent.com/88304589/196227646-5c3499f6-1fe1-4d56-838b-92ddb90de866.png)

[2022-10-17 16:08] biswajit035 commented on #167
I want to work on it. Can you please assign it to me?

[2022-10-17 18:09] devarshishimpi commented on #167
Yes sure

[2022-10-17 18:11] devarshishimpi commented on #162
@whizzbbig Okay, Could you make the same design but without the heart in the middle and few more such blur effects in the whole landing page?

[2022-10-17 18:13] whizzbbig commented on #162
Consider it done

[2022-10-17 18:18] devarshishimpi commented on #162
Great!!!

[2022-10-17 19:31] whizzbbig opened #168 "🐛 [BUG] - The Navigation of Mobile Orientation looks Odd and Quirky"
### Description

https://user-images.githubusercontent.com/54703305/196265441-666efabc-e087-4e41-80ad-cbecdb2cb592.mov

the navigation of mobile orientation looks odd and quirky because of its transition the way it comes too quickly gives the feeling of hesitation things are too small like logo and hamburger. menu should have their own space

### Reproduction URL

https://noteslify.stonecss.com/

[2022-10-18 00:07] mpeiffer commented on #158
Thanks! Working on it now.

[2022-10-18 10:42] devarshishimpi commented on #162
@whizzbbig I mean the one you sent the first one. But the extra blur effects in the whole page like the about section and not all of them in the hero section

[2022-10-18 10:51] devarshishimpi commented on #162
Like the circles even across the whole page, not just the hero section. You can design accordingly what looks good to you.

[2022-10-18 10:54] whizzbbig commented on #162
Okay I see I'll PR it asap

[2022-10-18 15:11] MrKrishnaAgarwal commented on #168
_Tagging @devarshishimpi If it's a bug which is needed to be resolved._

[2022-10-18 15:47] devarshishimpi opened #170 "Rework on the design of the Noteslify Account "Delete Account Feature""
Handled By Staff Only

[2022-10-18 15:48] #107 closed

[2022-10-18 15:49] devarshishimpi commented on #133
@PrajwalDhule May I know by when it would be ready??

[2022-10-18 15:51] devarshishimpi commented on #168
@whizzbbig I have assigned you to it

[2022-10-18 16:19] PrajwalDhule commented on #133
Sorry for the delay, I was busy with my exams. I am almost done with it, will make a PR by midnight

[2022-10-18 16:23] devarshishimpi commented on #133
Okay. No worries.

[2022-10-19 07:00] RakibRahman opened #173 "🐛 [BUG] - Old github link on navbar"
### Description

When clicking on the `Github` link (navbar), it refers to the old GitHub repo.

### Reproduction URL

none

### Reproduction steps

[code]

### Screenshots

[code]

### Logs

_No response_

### Browsers

_No response_

### OS

_No response_

[2022-10-19 07:07] #167 closed

[2022-10-19 07:07] devarshishimpi commented on #167
Fixed

[2022-10-19 07:33] #163 closed

[2022-10-19 07:46] #102 closed

[2022-10-19 17:10] whizzbbig opened #176 "🐛 [BUG] - Mockups Contain White square background"
### Description

Mockups in Noteslify sections Contain White square background which represents bad UX

### Reproduction URL

https://noteslify.stonecss.com/

### Reproduction steps

[code]

### Screenshots

https://user-images.githubusercontent.com/54703305/196759477-f409b058-5dda-4846-98b5-c768e89e00b6.mov

### Logs

_No response_

### Browsers

Chrome

### OS

Mac

[2022-10-20 06:06] whizzbbig commented on #176
@devarshishimpi can you add hactoberfest tags in this issue

[2022-10-20 13:49] biswajit035 opened #178 "Change position of EDIT and DELETE note button"
Place the EDIT and DELETE button on the buttom of every note.

ADVANTAGES:
  Before we need to click 2 times to edit / delete a notes.
  But now we can do the same job by one simple click only.

**BEFORE**
![image](https://user-images.githubusercontent.com/88304589/196966682-70fb4092-a3c3-44f7-8d60-48d2267a0640.png)

**AFTER**
![image](https://user-images.githubusercontent.com/88304589/196966735-a

[2022-10-20 13:50] biswajit035 commented on #178
Is it acceptable to do that changes?

[2022-10-20 16:35] devarshishimpi commented on #110
Fixed

[2022-10-20 16:35] #110 closed

[2022-10-20 16:38] devarshishimpi commented on #110
Also @Gauravdarkslayer Do check my email sent to you

[2022-10-20 16:49] devarshishimpi commented on #176
Fixed

[2022-10-20 16:49] #176 closed

[2022-10-20 16:51] devarshishimpi commented on #158
Fixed

[2022-10-20 16:51] #158 closed

[2022-10-21 00:08] whizzbbig commented on #168
I give up on this there is lot of things going on css like way lot of css realted to buttons its like a loophole no matter wherever i try to fix it it just append to yet another styles related to it and it literally gives me spine chills with the js part :'c

[2022-10-21 05:15] devarshishimpi commented on #168
I think the CSS files really need lots of refactoring. The last time it was done was like 15-20 days ago. Since then, maybe new PRs and commits are overlapping over each other

[2022-10-21 11:20] satrianytmaa commented on #162
Hello, could I contribute to this issue and repository? I have some background in UI Design and understanding in Front-end development process.

[2022-10-21 11:51] devarshishimpi commented on #162
Sure

[2022-10-21 17:20] deepaksuthar40128 commented on #178
can you assign it to me?

[2022-10-21 17:50] devarshishimpi commented on #178
Yes, just have some gap between those buttons tho

[2022-10-21 17:50] devarshishimpi commented on #178
Sure

[2022-10-22 14:42] PrakashGatiyala opened #182 "On mouse hover, social media Icon should show App-Name"
### What would you like to share?

![image](https://user-images.githubusercontent.com/34413515/197344854-14102822-b699-43d8-96f4-0209062abedd.png)

At Footer section, I have found out that while mouse hovering over social media Icon, I can't see social media Name.

On mouse hovering, it should show like this:
![image](https://user-images.githubusercontent.com/34413515/197345180-eb251e40-808e-47ba-

[2022-10-22 15:10] Gauravdarkslayer commented on #182
Hey @PrakashGatiyala , I assigned this issue to you, go ahead. :)

[2022-10-22 17:06] PrakashGatiyala commented on #182
Hi @Gauravdarkslayer I've created Pr for it. PR link: https://github.com/dvstechlabs/Noteslify/pull/183

Please review it and merge it

[2022-10-23 14:22] devarshishimpi commented on #182
Fixed

[2022-10-23 14:22] #182 closed

[2022-10-25 14:15] MrKrishnaAgarwal opened #185 "Testing the community github action which is added recently"

[2022-10-25 14:16] MrKrishnaAgarwal commented on #185
It works 🙂

[2022-10-25 14:16] #185 closed

[2022-10-25 14:19] devarshishimpi commented on #185
Yes

[2022-10-26 00:38] nirajpdn opened #186 "🐛 [BUG] - Max-width in the layout"
### Description

In wider screen the layout is not good as expected design wise and the components in the navbar and footer are not aligned properly.
So, max-width can be a better to use.

### Reproduction URL

https://noteslify.stonecss.com

### Reproduction steps

[code]

### Screenshots

[code]

### Logs

_No response_

### Browsers

Chrome

### OS

Mac

[2022-10-26 01:33] Rimjhim20 opened #187 "💡 Password field don't have length limit"
## Password validation.
Password numbers should have limit.
Ideally, Passwords should be 6 to 24 in length.
I want to add validation for it.
Hi, @devarshishimpi Assign me with this issue.

[2022-10-26 02:29] Rimjhim20 opened #189 "SignUp/Signin UI modification"
### What would you like to share?

Hii! @devarshishimpi  I go through the Noteslify website and found some CSS issues while inputting email, pass , username...
I fixed that CSS issue and created PR for this.
Thanks
![1](https://user-images.githubusercontent.com/71636845/197920201-1570a529-d021-43de-8eda-7192c40471c0.png)

[2022-10-26 04:33] devarshishimpi commented on #187
Okay sure

[2022-10-26 04:44] devarshishimpi commented on #189
Okay sure

[2022-10-26 04:49] devarshishimpi commented on #186
Thanks For Notifying!! Would you like to contribute to the same as well?

[2022-10-26 06:21] nirajpdn commented on #186
@devarshishimpi sure. Happy to contribute again.

[2022-10-26 06:37] devarshishimpi commented on #186
Okay, have assigned

[2022-10-26 08:41] EmmanuelAllanMJ commented on #168
Can I work on this issue

## Expected outcome

![nav design](https://user-images.githubusercontent.com/90669430/197977894-da44ed5b-2c01-45a0-8f79-dfffcb1c3478.gif)

[2022-10-26 09:04] devarshishimpi commented on #168
Sure

[2022-10-26 10:46] PrakashGatiyala commented on #189
Hi @devarshishimpi I have created a PR for this. PR link: https://github.com/dvstechlabs/Noteslify/pull/191
Please review it and merge it

[2022-10-26 10:48] Rimjhim20 commented on #189
Hi @devarshishimpi  I have created a PR for it. PR link: https://github.com/dvstechlabs/Noteslify/pull/191

Please review it and merge it.

[2022-10-26 11:25] Rimjhim20 commented on #187
Hi @devarshishimpi , I have created PR for it. PR link: https://github.com/dvstechlabs/Noteslify/pull/193
Kindly review it and merge it.

[2022-10-26 13:12] devarshishimpi commented on #187
Done

[2022-10-26 13:12] #187 closed

[2022-10-26 14:55] PrakashGatiyala opened #194 "Other <Code clean-up remove unused Variables>"
### What would you like to share?

![image](https://user-images.githubusercontent.com/34413515/198060605-a3f90984-90b0-4005-a0af-0e4eed3e9979.png)

As you can see, while running this application,  There are few warning related to **no-unused-vars**.
I want to clean these warning by deleting the unused variables.

Hi @devarshishimpi  I want to work on this issue. Please assign it to me.

### Additi

[2022-10-26 14:57] devarshishimpi commented on #194
@PrakashGatiyala Those warnings are to be filled up in the future. No plans on removing them since we'll need the required vars

[2022-10-26 14:57] #194 closed

[2022-10-26 16:53] PrakashGatiyala opened #195 "Username field don't have length limit."
### What would you like to share?

![image](https://user-images.githubusercontent.com/34413515/198087163-9ca66645-29d9-4885-ad4c-82aacaee3d58.png)

Username should have length limit.  Username should be 6–30 characters long.
I want to add this validation for it.
Hi, @devarshishimpi I want to work on this issue. Please assign it to me.

### Additional information

_No response_

[2022-10-26 20:53] BraydenTW opened #196 "💡 [REQUEST] - Navbar logo should jump back to main page."
### Start Date

10/26/2022

### Implementation PR

_No response_

### Reference Issues

_No response_

### Summary

On the website right now, the main logo does not head back to the homepage and it makes navigating a bit trickier. I feel like it would be useful to have this.

![image](https://user-images.githubusercontent.com/47185402/198135398-3647c339-ebdc-444a-a9a7-5dd273ed9273.png)

### Basic

[2022-10-26 20:53] BraydenTW commented on #196
I would be happy to work on this.

[2022-10-27 02:10] MrKrishnaAgarwal commented on #195
@devarshishimpi do we need it?

[2022-10-27 05:05] devarshishimpi opened #198 "Revert to Previous Version Of Landing Page"
This issue will only be handled by staff

[2022-10-27 05:09] khushi818 commented on #198
roger that @devarshishimpi

[2022-10-27 05:18] devarshishimpi commented on #189
Merged

[2022-10-27 05:18] #189 closed

[2022-10-27 05:22] devarshishimpi commented on #198
Yes, Doing that right now

[2022-10-27 05:23] devarshishimpi commented on #195
Yep

[2022-10-27 05:26] devarshishimpi opened #199 "Removal Of PR Github Actions For Labels"
This is handled by Staff only

[2022-10-27 05:39] #199 closed

[2022-10-27 05:54] PrakashGatiyala commented on #195
Hi @devarshishimpi I have created PR for it. PR link: https://github.com/dvstechlabs/Noteslify/pull/201
Please review it and merge it.

[2022-10-27 06:01] #198 closed

[2022-10-27 06:12] devarshishimpi commented on #195
Done

[2022-10-27 06:12] #195 closed

[2022-10-27 09:59] devarshishimpi commented on #168
Fixed

[2022-10-27 09:59] #168 closed

[2022-10-27 11:29] Gauravdarkslayer commented on #133
@devarshishimpi Sure.

[2022-10-27 13:23] #196 closed

[2022-10-28 07:45] devarshishimpi commented on #186
@nirajpdn Done with the same? Do keep in sync with the repo commits

[2022-10-28 07:46] devarshishimpi commented on #178
Fixed

[2022-10-28 07:46] #178 closed

[2022-10-28 07:49] devarshishimpi opened #206 "Adding Pricing Page"

[2022-10-28 07:52] devarshishimpi commented on #74
@khushi818 Work with the font size on the landing page

[2022-10-28 08:01] devarshishimpi opened #207 "Create Electron Based App"

[2022-10-28 08:02] devarshishimpi opened #208 "Create React-Native Based Mobile App"

[2022-10-28 08:23] nirajpdn commented on #186
I am syncing upstream. Thanks. Will push very soon

[2022-10-28 09:26] nmathew98 commented on #208
hi can I be assigned to this issue?

[2022-10-28 10:12] devarshishimpi commented on #208
Sure, make sure to build it in `apps/mobile` directory

[2022-10-28 10:14] nmathew98 commented on #208
will push something out tomorrow. Just scaffolding I'm guessing no pages or anything yet?

[2022-10-28 10:15] devarshishimpi commented on #208
Okay

[2022-10-28 12:42] rbeaujon commented on #186
This issue is already done or are you waiting for something more to do here? Thank you

[2022-10-28 12:52] devarshishimpi commented on #186
Yep, just apart from specific mobile sizes

[2022-10-28 13:00] rbeaujon commented on #186
The responsive part is someone working on?

[2022-10-28 13:06] devarshishimpi commented on #186
No one at the moment

[2022-10-28 13:13] rbeaujon commented on #186
l'll work on that

On Fri, Oct 28, 2022 at 4:07 PM Devarshi Shimpi ***@***.***>
wrote:

[2022-10-28 13:15] devarshishimpi commented on #186
Okay, Have assigned you

[2022-10-28 13:18] rbeaujon commented on #186
Do you have some considerations that I've to take to work on this?

[2022-10-29 04:40] mani-rsg commented on #206
Hi, @devarshishimpi  do we have any mocks for this? so that I can work on

[2022-10-29 11:04] devarshishimpi commented on #206
There are 3 tiers to be made

1. Free Open Source
2. Coming Soon
3. Enterprise

You can make according to this with few lorem ipsum fields above it

For example Gitpod's Pricing Plans

![image](https://user-images.githubusercontent.com/43378923/198827860-00a36f14-26d9-4873-81e3-e048f5e611ca.png)

[2022-10-29 13:25] Ravina-Deogadkar commented on #207
Can I work on this task?

[2022-10-29 15:14] devarshishimpi commented on #207
Yes

[2022-10-29 15:14] devarshishimpi commented on #207
Do make in a proper directory ( mono repo format )

[2022-10-30 06:22] devarshishimpi opened #212 "Encryption needed on Recycle Bin Page"
On moving the items to recycle bin, they get shown in the encrypted format
and on restoring the note, it gets shown in its original format

@Gauravdarkslayer Here as well

[2022-10-30 13:27] Gauravdarkslayer commented on #212
Sure will do this.

[2022-10-30 13:32] devarshishimpi commented on #212
Great

[2022-10-31 15:05] Gauravdarkslayer opened #215 "💡 [REQUEST] - Sending all the 500 status codes error to email"
### Start Date

_No response_

### Implementation PR

_No response_

### Reference Issues

_No response_

### Summary

Need a feature in backend application i.e. whenever there is an 500 internal server error caused in backend then it should send an email to admin mentioning whole stacktrace.
This will help us to monitor our app better.

### Basic Example

Add error logging to global level.

### D

[2022-10-31 15:21] Gauravdarkslayer opened #216 "💡 [REQUEST] - Create admin panel for noteslify"
### Start Date

_No response_

### Implementation PR

_No response_

### Reference Issues

_No response_

### Summary

Need to create admin panel for noteslify in order to disable suspicious user accounts, total users, total notes on platform, charts / graphs etc.

### Basic Example

Just like a normal ecommerce application, where admin can manage many things from admin panel.

### Drawbacks

None

[2022-10-31 15:27] Gauravdarkslayer opened #217 "Send only the required data from API to frontend."
### What would you like to share?

There are some GET APIs which are sending unnecessary data (which are not required by the frontend), so need to fetch only those fields which are required by the frontend, it will help in user security and it also consumes less network bandwidth.

### Additional information

_No response_

[2022-10-31 15:36] Gauravdarkslayer opened #218 "🐛 [BUG] - Disable the clicks on coming soon side navigation items"
### Description

If a user clicks on coming soon side navigation the application takes the user to home page.
One solution is to add javascript:void(0) to those links.
Below is the image of side navigation which contains the issue.
![image](https://user-images.githubusercontent.com/18503497/199046587-79e798b9-0256-4a20-9a2c-332acd6a2bc4.png)

### Reproduction URL

https://github.com/dvstechlabs/No

[2022-11-02 16:16] Gauravdarkslayer commented on #133
@devarshishimpi Currently the folders section is not linked with backend. So we need to create folder section APIs accordingly.
Also some things i noticed in this section:
1. The page is reloading each time in folder section.
2. Action buttons not aligned properly.
3. Url params not properly sets.
![image](https://user-images.githubusercontent.com/18503497/199543222-40f4520a-1412-4a9a-a1dd-bd9d696

[2022-11-02 16:26] devarshishimpi commented on #133
@Gauravdarkslayer Yes, just the frontend was added

[2022-11-02 16:30] devarshishimpi commented on #212
Fixed

[2022-11-02 16:30] #212 closed

[2022-11-02 16:30] devarshishimpi commented on #212
https://github.com/dvstechlabs/Noteslify/pull/219

[2022-11-08 17:19] Dun-sin opened #225 "🐛 [BUG] – Unresponsive Navigation Bar"
### Description

— Active bubble doesn't fit the navigation bar icon
— Icons are overflowed in the navigation bar

### Reproduction steps

[code]

### Screenshots
![Unresponsive navigation bar](https://user-images.githubusercontent.com/78784850/200630836-1002d415-4663-4b42-820b-fd1694d45c30.png)

### Browsers

Firefox

### OS

Windows

[2022-11-08 17:29] Dun-sin opened #226 "💡 [REQUEST] - Custom Modal for confirmation"
### Summary

Every browser has its way of showing the confirmation modal, which doesn't fit the theme of the project/website
![image](https://user-images.githubusercontent.com/78784850/200634272-7b22b6f8-5897-49a1-8c3e-fd51e3281807.png)

### Basic Example

Instead of the default modal when delete note is clicked, we show the custom modal we create

[2022-11-08 17:34] Dun-sin commented on #225
1366px × 654px

[2022-11-08 17:43] devarshishimpi commented on #225
Still can't find any issues with that size
![image](https://user-images.githubusercontent.com/43378923/200637352-c2a4254a-262b-4656-987c-0d8f068b7c94.png)

[2022-11-08 17:45] devarshishimpi commented on #226
Definitely!!

[2022-11-08 17:47] Dun-sin commented on #225
do you use Firefox too? This seems like a weird bug, I tried refreshing the page a few times in case, i should probably check on a different browser and report back to you.

[2022-11-08 17:47] Dun-sin opened #227 "🐛 [BUG] – lack full dark mode"
### Description

I don't know if this is intentional or not, and wasn't sure to create this issue as a bug or a feature.

But would be nice if the dark mode was throughout the app and not just the navigation bar

### Reproduction steps

[code]

### Screenshots
![image](https://user-images.githubusercontent.com/78784850/200637401-cd2c58c2-ff74-4eac-b003-9908330bab4c.png)

### Browsers

Firefox

###

[2022-11-08 17:50] Dun-sin commented on #225
Strangely it's just Firefox mine anyway with #227

[2022-11-08 17:51] devarshishimpi commented on #227
Yes, This is a work in process and will be applied throughout the app.

Please find the same issue number here https://github.com/dvstechlabs/Noteslify/issues/37

Currently, I plan to improve the landing page first and then perhaps a new notes UI dashboard as well.

[2022-11-08 17:51] devarshishimpi commented on #227
I'll be closing this issue

[2022-11-08 17:51] #227 closed

[2022-11-08 17:57] devarshishimpi commented on #225
I see, it's a valid issue. The previous one I did was in Brave.
Checked in Firefox. Maybe something to do with the extra scroll bar coming on the right side of the side nav.

![image](https://user-images.githubusercontent.com/43378923/200639942-e4201a29-3008-41cc-b971-1525ab767618.png)

[2022-11-08 17:59] devarshishimpi commented on #225
The dark theme is an issue everywhere, not just with firefox as till now it's been added only in the side nav ( that too partially ) . Implementation is still in progress.

[2022-11-08 18:03] Dun-sin commented on #225
okay fair

[2022-11-08 18:17] Dun-sin commented on #227
hi @devarshishimpi does the dark mode feature you are working on include an icon to easily identify what the toggle is for?

[2022-11-08 18:27] Dun-sin opened #228 "🐛 [BUG] - user access to unauthorized link"
### Description

User still has access to the website without logging in, i crossed checked and this only happens when you directly paste this URL in the address bar → `https://noteslify.stonecss.com/myaccount`

### Reproduction steps

[code]
### Browsers

Chrome

### OS

Windows

[2022-11-09 04:50] devarshishimpi commented on #227
The toggle will be replaced with dark/light theme-switching icons.

[2022-11-09 06:03] devarshishimpi commented on #206
@mani-rsg updates on this??

[2022-11-09 10:55] devarshishimpi commented on #228
Fixed in https://github.com/dvstechlabs/Noteslify/pull/229

[2022-11-09 10:55] #228 closed

[2022-11-09 10:56] devarshishimpi opened #230 "Footer section needs to be reverted after the previous PR"
Many bugs have been created in the footer section. Issue will be fixed followed with the release.

[2022-11-09 10:57] Dun-sin commented on #228
Here's a trick, if you add closes #issue in PR template and someone makes a PR and fills in the issue, when it's merged it automatically closes the issue too

[2022-11-09 11:31] devarshishimpi commented on #228
Yes I am aware of that, but the PR wasn't made by me.

[2022-11-09 12:03] RakibRahman commented on #226
@devarshishimpi can you assign this to me?

[2022-11-09 12:06] devarshishimpi commented on #226
Sure

[2022-11-09 12:09] RakibRahman commented on #226
@devarshishimpi Thanks. Should I use custom-made modal or any particular library? Any design guidelines will be appreciated.

[2022-11-09 12:14] devarshishimpi commented on #226
Probably just a custom-made modal box

[2022-11-09 12:49] mani-rsg commented on #206
Hey Sorry, didn't get time to work on this due to office work. Sorry for the inconvenience thereby. Someone else can start working

[2022-11-09 13:06] devarshishimpi commented on #206
Okay no worries

[2022-11-09 13:21] Dun-sin commented on #206
I can help with this if you would like @devarshishimpi

[2022-11-09 13:26] devarshishimpi commented on #206
Sure

[2022-11-10 07:55] RakibRahman opened #233 "Refactoring toaster (Improper implementation of react-toastify)"
### What would you like to share?

Currently, the toaster component is implemented improperly. as 'react-toastify' is used to show toast messages, we only need to place/import  ```<ToastContainer/>``` component only on the main or root component such as App.js

But  ```<ToastContainer/>``` is imported manually in every component that uses toast functionality, which is unnecessary and repetitive. F

[2022-11-10 18:31] devarshishimpi commented on #233
Definitely!

[2022-11-11 01:00] RakibRahman commented on #233
@devarshishimpi sure! :)

[2022-11-11 18:39] Bam92 opened #234 "Use nouns instead of verbs in endpoints"
### What would you like to share?

In [routes](https://github.com/dvstechlabs/Noteslify/blob/main/apps/web/backend/routes/notes.js)  file, routers need not to contain verbs.

### Additional information

_No response_

[2022-11-11 18:41] Bam92 opened #235 "Use nouns instead of verbs in endpoints"
### What would you like to share?

In [routes](https://github.com/dvstechlabs/Noteslify/blob/main/apps/web/backend/routes/notes.js)  file, routers need not to contain verbs.

### Additional information

_No response_

[2022-11-11 19:25] Dun-sin commented on #235
@Bam92 you created this issue twice, #234

[2022-11-14 08:58] devarshishimpi commented on #235
Duplicate PR

[2022-11-14 08:58] #235 closed

[2022-11-14 11:58] devarshishimpi opened #237 "Switching UI to Tailwind"
Currently, the UI/Frontend is based on plain CSS. We will be shifting to using tailwind instead.
Plain CSS `/apps/web/frontend` directory
Tailwind CSS ( New ) `/apps/web/frontendnew` directory
We will be shifting all the pages to be based on tailwind shortly. You can let me know if you would want to work on this as well

Figma file: https://www.figma.com/file/8SygBEU8Mz83pXXNq02sTf/Noteslify-(Note

[2022-11-14 11:59] devarshishimpi commented on #170
Issue worked in https://github.com/dvstechlabs/Noteslify/issues/237

[2022-11-14 11:59] #170 closed

[2022-11-14 12:00] devarshishimpi commented on #74
Issue worked in https://github.com/dvstechlabs/Noteslify/issues/237

[2022-11-14 12:00] #74 closed

[2022-11-14 12:11] devarshishimpi commented on #234
@abhinandanwadwa

[2022-11-15 12:38] devarshishimpi opened #238 "Add Github Actions for Closing Blank Issues"

[2022-11-15 12:44] #238 closed

[2022-11-15 12:45] devarshishimpi opened #240 "test"

[2022-11-15 12:46] #240 closed

[2022-11-15 14:48] devarshishimpi commented on #233
Fixed

[2022-11-15 14:48] #233 closed

[2022-11-15 14:48] #226 closed, assigned to RakibRahman

[2022-11-15 14:55] princehabeeb commented on #237
I will love to contribute to this. i want to put my tailwindcss knowledge to practice

[2022-11-15 15:06] devarshishimpi commented on #237
Sure

[2022-11-16 10:41] abhinandanwadwa commented on #234
Hey @Bam92 , I don't think so it's needed as of now as we need to change our endpoints and use nouns instead of verbs because it won't make much difference in the functionality of the code but thanks for the suggestion.

[2022-11-16 15:52] Manikanta528 opened #243 "[Enhancement] Back-to-Top button alignment was not at right with form button"
### just need a little bit of alignment to the back-to-top button

<img width="526" alt="Screenshot 2022-11-16 at 9 01 18 PM" src="https://user-images.githubusercontent.com/62022514/202223295-84d754fb-7284-4d2a-bd6c-8b0c7511ce69.png">

[2022-11-22 05:40] SattyamSamania commented on #237
Hey @devarshishimpi if the issue is still open can I work on this. Please tell further what to do next.

[2022-11-22 05:43] devarshishimpi commented on #237
Yes it's still open, basically we have to shift all of the landing page content to a tailwind based new and better landing page, the first issue description has where the folder is present.

[2022-11-23 12:12] jainPrajwal commented on #243
Hey @Manikanta528 , can I take up this issue..?

[2022-11-23 12:28] devarshishimpi commented on #243
@Manikanta528 @jainPrajwal This issue won't be worked on as we are shifting to a fresh new landing page built with Tailwind CSS. Check Out this issue https://github.com/dvstechlabs/Noteslify/issues/237
If you want to work on a back-to-top button on the new landing page, you can comment on the issue for the same.

Thanks again 😄

[2022-11-23 12:28] #243 closed

[2022-11-23 15:40] devarshishimpi commented on #237
@SattyamSamania @princehabeeb @ann0nip Do keep in update with the latest changes 😄 Changes were made to the new landing page, so do sync your repo.

[2022-11-23 16:49] #230 closed

[2022-11-24 15:19] princehabeeb commented on #237
Alright. thanks so much

[2022-11-24 19:12] Gauravdarkslayer commented on #218
As this issue marked as done in #222 , that's why closing this issue.

[2022-11-24 19:12] #218 closed

[2022-11-25 02:03] SattyamSamania commented on #237
Sure @devarshishimpi

[2022-11-27 15:42] nkirukka commented on #37
I'd like to work on implementing dark mode for all pages, please assign me. Or do I need to open a new issue?

[2022-11-27 15:57] devarshishimpi commented on #37
@nkirukka Hi, This issue is open and have assigned to you.

We are shifting to using Tailwind in Frontend CSS. ( Dashboard is not using Tailwind CSS, it's just the new landing page being developed for now )
You can help us out here as well 😄 https://github.com/dvstechlabs/Noteslify/issues/237

[2022-11-27 20:15] nkirukka commented on #37
1. Which of the folders should I work in? /frontend or /frontendnew?
2. The page that opens on localhost:3000 from /frontend is different from the current live site and different from /frontendnew.

See attactment for better understanding

### Current live
![live](https://user-images.githubusercontent.com/72361299/204157342-334d727a-108c-4f6b-8d94-04a8e764ab2a.png)

### From /frontendnew
![fronten

[2022-11-28 11:24] devarshishimpi commented on #37
@nkirukka

`frontendnew`

Yes, since it's not running the latest version due to some under-development features like the folders section.
The older frontend landing page is no-longer developed. ( Only the landing page )
![image](https://user-images.githubusercontent.com/43378923/204265769-73899efe-42b2-48b4-9a23-8c0bbc27cc69.png)

Nothing specific for dark theme. Feel free to use what you think th